h1,h2 {
    text-align: center;
    font-size: xx-large;
}

body {
    background: linear-gradient(maroon, white);
    background-repeat: no-repeat;
}

*{
    font-style: italic;
}

.welcome {
    font-size: xx-large;
}

.welcome2 {
    font-size: x-large;
}

.paragraph {
    font-size: x-large;
    color: black;
    width: 600px;
    height: 100px;
    padding: 10px;
    border: 5px black;
    margin: 0;
    font-weight: bold;
}

.plowday {
    float: right;
    position: relative;
    bottom: 200px;
}

.activities {
    position: relative; top: 195px;
    font-size: xx-large;
}

.activities2 {
    position: relative; top: 175px;
    font-size: x-large;
    font-weight: bold;
}

.activites3 {
    position: relative; top: 140px;
    font-weight: bold;
    font-size: larger;
}


/* 
1. set everythaing to border-box
2. remove the defalut margns
 */
 *{
  box-sizing: border-box;
  margin: 0;
 }
 /* 
 3. beter fount 
 4. better line height
 */
 body{
  font-family: system-ui;
  line-height:1.7;
 }
 /* 
 5. improve image and video
  */
  img, picture, video {
    display: block;
    /* keep only as wide as the parent element */
    max-width: 100%;
  }
/* 
 6. reset forms, buttons, and other imputs
  */
  input
  button
  textarea
  select{
    font: inherit;
  }
  /* 
  7. prevent overflow on text
 */
 p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap:break-word ;
 } 
